openapi: 3.0.3
info:
  title: Epostix Developer API
  description: Epostix Developer API
  version: 1.0.0
servers:
  - url: 'https://api.epostix.com/v1'
    description: Production server
  - url: 'https://api.staging.epostix.com/v1'
    description: Staging server
tags:
  - name: Emails
    description: Send a message, read it back, and follow what happened to it.
  - name: Batch
    description: Submit up to 100 messages in one request.
  - name: Spam check
    description: Score a message before you send it, so you find problems while you can still fix them.
  - name: Templates
    description: Reusable content with variables, versioned so a deploy cannot change what is already going out.
  - name: Attachments
    description: Upload a file once and reference it from a send.
  - name: Domains
    description: Add, verify and configure the domains you send from.
  - name: Events
    description: The delivery timeline for your messages.
  - name: Inbound
    description: Mail received at your verified domains.
  - name: Analytics
    description: Aggregate counts for a time range. Counts only, never rates.
  - name: Broadcasts
    description: One message to an audience. The dashboard remains the authoring surface.
  - name: Contacts
    description: The people you send to, and their subscription state.
  - name: Tags
    description: Labels that group contacts into an audience.
  - name: Suppressions
    description: Addresses that will not be sent to, and why.
  - name: Webhooks
    description: Endpoints that receive events as they happen.
  - name: API keys
    description: Credentials, their scopes, and what has been done with them.
paths:
  /emails:
    post:
      tags: [Emails]
      summary: Send an email
      description: Send a transactional email. Domain is derived from the `from` address.
      operationId: sendEmail
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            maxLength: 255
          description: Unique key to ensure idempotent request processing. Cached for 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCreate'
      responses:
        '201':
          description: Email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '409':
          description: Idempotency conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    get:
      tags: [Emails]
      summary: List emails
      description: List emails across all domains with cursor-based pagination and filtering.
      operationId: listEmails
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Number of items to return (1-100, default 25)
        - name: starting_after
          in: query
          required: false
          schema:
            type: string
          description: Cursor for forward pagination. Returns items after this ID.
        - name: ending_before
          in: query
          required: false
          schema:
            type: string
          description: Cursor for backward pagination. Returns items before this ID.
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - pending
              - scheduled
              - sent
              - delivered
              - failed
              - cancelled
          description: Filter by email status.
        - name: to
          in: query
          required: false
          schema:
            type: string
          description: Filter by recipient email address (partial match).
        - name: from
          in: query
          required: false
          schema:
            type: string
          description: Filter by sender email address (partial match).
        - name: subject
          in: query
          required: false
          schema:
            type: string
          description: Filter by subject (partial match).
        - name: tags
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Filter by tags (emails matching any of the provided tags).
        - name: created_after
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Filter emails created after this timestamp (ISO 8601).
        - name: created_before
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Filter emails created before this timestamp (ISO 8601).
        - name: domain_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by domain ID.
      responses:
        '200':
          description: List of emails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /emails/check:
    post:
      tags: [Spam check]
      summary: Check email spam score
      description: Score email content for spam without sending. Returns spam score, per-rule breakdown, and actionable suggestions.
      operationId: checkEmail
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCreate'
      responses:
        '200':
          description: Spam check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpamCheckResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /emails/batch:
    post:
      tags: [Batch]
      summary: Send a batch of emails
      description: Send up to 100 transactional emails in a single request. Returns per-email results.
      operationId: sendEmailBatch
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            maxLength: 255
          description: Unique key to ensure idempotent request processing. Cached for 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailBatchRequest'
      responses:
        '200':
          description: Batch processed (may contain partial failures)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailBatchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '409':
          description: Idempotency conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /emails/{email_id}:
    parameters:
      - name: email_id
        in: path
        required: true
        schema:
          type: string
        description: Email ID
    patch:
      tags: [Emails]
      summary: Update an email
      description: Update a pending email. Currently supports rescheduling via `scheduled_at`.
      operationId: updateEmail
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdate'
      responses:
        '200':
          description: Email updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    get:
      tags: [Emails]
      summary: Get an email
      description: Retrieve a single email by ID.
      operationId: getEmail
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Email details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /emails/{email_id}/cancel:
    parameters:
      - name: email_id
        in: path
        required: true
        schema:
          type: string
        description: Email ID
    post:
      tags: [Emails]
      summary: Cancel an email
      description: |
        Cancel an email that hasn't been delivered yet. Works for scheduled emails
        and recently-sent emails still in the processing queue (~10 second window).
      operationId: cancelEmail
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cancel result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelEmailResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /emails/{email_id}/events:
    get:
      tags: [Emails]
      summary: List events for an email
      description: Returns the full event timeline for a specific email, including delivery, opens, clicks, bounces, and complaints.
      operationId: listEmailEvents
      security:
        - bearerAuth: []
      parameters:
        - name: email_id
          in: path
          required: true
          schema:
            type: string
          description: Email ID.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Number of items to return (1-100, default 25).
        - name: starting_after
          in: query
          required: false
          schema:
            type: string
          description: Cursor for forward pagination. Returns items after this event ID.
        - name: ending_before
          in: query
          required: false
          schema:
            type: string
          description: Cursor for backward pagination. Returns items before this event ID.
      responses:
        '200':
          description: List of events for the email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Email not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /emails/{email_id}/resend:
    parameters:
      - name: email_id
        in: path
        required: true
        schema:
          type: string
        description: Email ID of the original email to resend
    post:
      tags: [Emails]
      summary: Resend an email
      description: Resend a previously sent or failed email. Creates a new email with the same content and returns the new email ID.
      operationId: resendEmail
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Email resent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Email cannot be resent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /events:
    get:
      tags: [Events]
      summary: List events
      description: List all email events across the account with cursor-based pagination and filtering. Events include deliveries, opens, clicks, bounces, complaints, and more.
      operationId: listEvents
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Number of items to return (1-100, default 25).
        - name: starting_after
          in: query
          required: false
          schema:
            type: string
          description: Cursor for forward pagination. Returns items after this event ID.
        - name: ending_before
          in: query
          required: false
          schema:
            type: string
          description: Cursor for backward pagination. Returns items before this event ID.
        - name: event_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - sent
              - delivered
              - bounced
              - opened
              - clicked
              - complained
              - failed
              - delayed
          description: Filter by event type.
        - name: email_id
          in: query
          required: false
          schema:
            type: string
          description: Filter events for a specific email.
        - name: domain_id
          in: query
          required: false
          schema:
            type: string
          description: Filter events for a specific domain.
        - name: to
          in: query
          required: false
          schema:
            type: string
          description: Filter by recipient email address (partial match).
        - name: from
          in: query
          required: false
          schema:
            type: string
          description: Filter by sender email address (partial match).
        - name: tags
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Filter by email tags (events for emails matching any of the provided tags).
        - name: created_after
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Filter events created after this timestamp (ISO 8601).
        - name: created_before
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Filter events created before this timestamp (ISO 8601).
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
              examples:
                delivered:
                  summary: Delivered event
                  value:
                    data:
                      - id: "evt_abc123"
                        type: "email.delivered"
                        email_id: "em_xyz789"
                        created_at: "2024-01-15T10:30:00Z"
                        data:
                          to: "user@example.com"
                          from: "sender@yourdomain.com"
                          subject: "Welcome aboard"
                          delivered_at: "2024-01-15T10:30:01Z"
                          smtp_code: 250
                          mx_host: "alt1.gmail-smtp-in.l.google.com"
                    has_more: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /events/{event_id}:
    get:
      tags: [Events]
      summary: Get an event
      description: Retrieve a single event by ID with full metadata. Includes event-specific data such as bounce details, click URLs, or open source information.
      operationId: getEvent
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
          description: Event ID.
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
              examples:
                bounce:
                  summary: Bounce event
                  value:
                    id: "evt_def456"
                    type: "email.bounced"
                    email_id: "em_xyz789"
                    created_at: "2024-01-15T10:30:02Z"
                    data:
                      to: "invalid@example.com"
                      bounce_type: "hard"
                      bounce_subtype: "mailbox_not_found"
                      smtp_code: 550
                      enhanced_status_code: "5.1.1"
                      provider: "gmail"
                      recommended_action: "clean"
                      original_error: "550 5.1.1 The email account does not exist"
                click:
                  summary: Click event
                  value:
                    id: "evt_ghi789"
                    type: "email.clicked"
                    email_id: "em_xyz789"
                    created_at: "2024-01-15T11:00:00Z"
                    data:
                      to: "user@example.com"
                      url: "https://example.com/pricing"
                      ip_address: "192.168.1.1"
                      user_agent: "Mozilla/5.0..."
                      click_count: 1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /domains:
    get:
      tags: [Domains]
      summary: List domains
      description: List all sending domains with cursor-based pagination.
      operationId: listDomains
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Number of items to return (1-100, default 25).
        - name: starting_after
          in: query
          required: false
          schema:
            type: string
          description: Cursor for forward pagination. Pass the id of the last item from the previous page.
        - name: ending_before
          in: query
          required: false
          schema:
            type: string
          description: Cursor for backward pagination.
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - unverified
              - verifying
              - active
          description: Filter domains by verification status.
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    post:
      tags: [Domains]
      summary: Add a domain
      description: Add a new sending domain. Returns the domain with DNS records that need to be configured.
      operationId: createDomain
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreateRequest'
      responses:
        '201':
          description: Domain created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /domains/{domain_id}:
    get:
      tags: [Domains]
      summary: Get a domain
      description: Get a domain with its DNS records and verification status.
      operationId: getDomain
      security:
        - bearerAuth: []
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
          description: The domain ID.
      responses:
        '200':
          description: Domain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    patch:
      tags: [Domains]
      summary: Update domain settings
      description: Update tracking settings for a domain.
      operationId: updateDomain
      security:
        - bearerAuth: []
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
          description: The domain ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
      responses:
        '200':
          description: Domain updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    delete:
      tags: [Domains]
      summary: Delete a domain
      description: Delete a sending domain. Cannot delete a domain that has pending emails or is the only active domain.
      operationId: deleteDomain
      security:
        - bearerAuth: []
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
          description: The domain ID.
      responses:
        '204':
          description: Domain deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Domain cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /domains/{domain_id}/verify:
    post:
      tags: [Domains]
      summary: Verify a domain
      description: Trigger DNS verification for a domain. Returns the domain with updated verification status for each DNS record.
      operationId: verifyDomain
      security:
        - bearerAuth: []
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
          description: The domain ID.
      responses:
        '200':
          description: Verification results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /attachments:
    post:
      tags: [Attachments]
      summary: Upload an attachment
      description: Pre-upload an attachment for reuse across multiple emails. Returns an attachment_id valid for 24 hours.
      operationId: uploadAttachment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUpload'
      responses:
        '201':
          description: Attachment uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /contacts:
    get:
      tags: [Contacts]
      summary: List contacts
      description: List audience contacts with cursor-based pagination and filters.
      operationId: listContacts
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Number of items to return (1-100, default 25).
        - name: starting_after
          in: query
          required: false
          schema:
            type: string
          description: Cursor for forward pagination. Pass the id of the last item from the previous page.
        - name: ending_before
          in: query
          required: false
          schema:
            type: string
          description: Cursor for backward pagination.
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Filter by email address (partial match).
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - subscribed
              - unsubscribed
              - cleaned
          description: Filter by subscription status.
        - name: engagement_tier
          in: query
          required: false
          schema:
            type: string
            enum:
              - no_data
              - new
              - engaged
              - at_risk
              - inactive
              - cold
          description: Filter by engagement tier.
        - name: tag_id
          in: query
          required: false
          schema:
            type: string
          description: Filter contacts that have this tag assigned.
        - name: created_after
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Filter contacts created after this timestamp (ISO 8601).
        - name: created_before
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Filter contacts created before this timestamp (ISO 8601).
      responses:
        '200':
          description: List of contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListResponse'
        '400':
          description: Bad request (e.g., invalid cursor)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    post:
      tags: [Contacts]
      summary: Create a contact
      description: Create a new audience contact.
      operationId: createContact
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreate'
      responses:
        '201':
          description: Contact created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /contacts/bulk:
    post:
      tags: [Contacts]
      summary: Bulk create contacts
      description: Create up to 1000 contacts in a single request. Returns a summary with created, updated, and failed counts.
      operationId: bulkCreateContacts
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkContactCreateRequest'
      responses:
        '200':
          description: Bulk operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkContactCreateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /contacts/by-email/{email}:
    put:
      tags: [Contacts]
      summary: Upsert a contact by email
      description: Create or update a contact by email address. If a contact with this email exists, it is updated. Otherwise, a new contact is created.
      operationId: upsertContact
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
            format: email
          description: Email address of the contact (URL-encoded).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpsert'
      responses:
        '200':
          description: Contact created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /contacts/{contact_id}:
    get:
      tags: [Contacts]
      summary: Get a contact
      description: Get a contact with tags, status, and engagement tier.
      operationId: getContact
      security:
        - bearerAuth: []
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
          description: Contact ID.
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    patch:
      tags: [Contacts]
      summary: Update a contact
      description: Update a contact's name or tags.
      operationId: updateContact
      security:
        - bearerAuth: []
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
          description: Contact ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate'
      responses:
        '200':
          description: Contact updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    delete:
      tags: [Contacts]
      summary: Delete a contact
      description: Delete a contact (soft delete).
      operationId: deleteContact
      security:
        - bearerAuth: []
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
          description: Contact ID.
      responses:
        '204':
          description: Contact deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /contacts/{contact_id}/unsubscribe:
    post:
      tags: [Contacts]
      summary: Unsubscribe a contact
      description: Unsubscribe a contact from future emails.
      operationId: unsubscribeContact
      security:
        - bearerAuth: []
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
          description: Contact ID.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 500
                  description: Optional reason for unsubscribing.
      responses:
        '200':
          description: Contact unsubscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /contacts/{contact_id}/tags/{tag_id}:
    post:
      tags: [Contacts]
      summary: Assign a tag to a contact
      description: Assign a tag to a contact.
      operationId: assignContactTag
      security:
        - bearerAuth: []
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
          description: Contact ID.
        - name: tag_id
          in: path
          required: true
          schema:
            type: string
          description: Tag ID.
      responses:
        '204':
          description: Tag assigned
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Contact or tag not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    delete:
      tags: [Contacts]
      summary: Remove a tag from a contact
      description: Remove a tag assignment from a contact.
      operationId: removeContactTag
      security:
        - bearerAuth: []
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
          description: Contact ID.
        - name: tag_id
          in: path
          required: true
          schema:
            type: string
          description: Tag ID.
      responses:
        '204':
          description: Tag removed
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Contact or tag not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /tags:
    get:
      tags: [Tags]
      summary: List tags
      description: List all audience tags.
      operationId: listTags
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 25, minimum: 1, maximum: 100 }
        - name: starting_after
          in: query
          schema: { type: string }
        - name: ending_before
          in: query
          schema: { type: string }
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    post:
      tags: [Tags]
      summary: Create a tag
      description: Create a new audience tag.
      operationId: createTag
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreate'
      responses:
        '201':
          description: Tag created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error (e.g., tag name already exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /tags/{tag_id}:
    delete:
      tags: [Tags]
      summary: Delete a tag
      description: Delete a tag. All contact-tag assignments for this tag will be removed.
      operationId: deleteTag
      security:
        - bearerAuth: []
      parameters:
        - name: tag_id
          in: path
          required: true
          schema:
            type: string
          description: Tag ID.
      responses:
        '204':
          description: Tag deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Tag not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /api-keys:
    get:
      tags: [API keys]
      summary: List API keys
      description: List all API keys for the authenticated partner. Tokens are masked.
      operationId: listAPIKeys
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 25, minimum: 1, maximum: 100 }
        - name: starting_after
          in: query
          schema: { type: string }
        - name: ending_before
          in: query
          schema: { type: string }
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    post:
      tags: [API keys]
      summary: Create an API key
      description: Create a new API key. The raw token is returned only once in the response.
      operationId: createAPIKey
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyCreateRequest'
      responses:
        '201':
          description: API key created. The raw token is shown only once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '403':
          description: The key may not create a key with the requested scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /api-keys/{api_key_id}:
    get:
      tags: [API keys]
      summary: Get an API key
      description: Get details of a single API key.
      operationId: getAPIKey
      security:
        - bearerAuth: []
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            type: string
          description: API key ID.
      responses:
        '200':
          description: API key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    patch:
      tags: [API keys]
      summary: Update an API key
      description: Update name, IP whitelist, or permissions of an API key.
      operationId: updateAPIKey
      security:
        - bearerAuth: []
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            type: string
          description: API key ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyUpdateRequest'
      responses:
        '200':
          description: API key updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    delete:
      tags: [API keys]
      summary: Delete an API key
      description: Revoke and delete an API key. Cannot delete the key used for this request.
      operationId: deleteAPIKey
      security:
        - bearerAuth: []
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            type: string
          description: API key ID.
      responses:
        '204':
          description: API key deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '409':
          description: Cannot delete self
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /api-keys/{api_key_id}/usage:
    get:
      tags: [API keys]
      summary: Get API key usage logs
      description: Retrieve recent usage logs for an API key.
      operationId: getAPIKeyUsage
      security:
        - bearerAuth: []
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            type: string
          description: API key ID.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Number of items to return (1-100, default 25).
        - name: starting_after
          in: query
          required: false
          schema:
            type: string
          description: Return records after this cursor.
        - name: ending_before
          in: query
          required: false
          schema:
            type: string
          description: Return records before this cursor.
      responses:
        '200':
          description: Usage logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyUsageListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /webhooks:
    post:
      tags: [Webhooks]
      summary: Register a webhook endpoint
      operationId: createWebhook
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
      responses:
        '201':
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCreateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    get:
      tags: [Webhooks]
      summary: List webhook endpoints
      operationId: listWebhooks
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
        - name: starting_after
          in: query
          schema:
            type: string
        - name: ending_before
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of webhook endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /webhooks/{webhook_id}:
    parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Webhooks]
      summary: Get webhook endpoint details
      operationId: getWebhook
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Webhook endpoint details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    put:
      tags: [Webhooks]
      summary: Update a webhook endpoint
      operationId: updateWebhook
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Webhook endpoint updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    delete:
      tags: [Webhooks]
      summary: Delete a webhook endpoint
      operationId: deleteWebhook
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Webhook deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /webhooks/{webhook_id}/toggle:
    parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
    patch:
      tags: [Webhooks]
      summary: Enable or disable a webhook endpoint
      operationId: toggleWebhook
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Webhook toggled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /webhooks/{webhook_id}/test:
    parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Webhooks]
      summary: Send a test event to a webhook endpoint
      operationId: testWebhook
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Test delivery result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryLog'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /webhooks/{webhook_id}/logs:
    parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Webhooks]
      summary: List delivery logs for a webhook
      operationId: listWebhookLogs
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
        - name: starting_after
          in: query
          schema:
            type: string
        - name: ending_before
          in: query
          schema:
            type: string
        - name: event_type
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - pending
              - success
              - failed
        - name: created_after
          in: query
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of delivery logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryLogListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /webhooks/{webhook_id}/replay/{log_id}:
    parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
      - name: log_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Webhooks]
      summary: Replay a single webhook delivery
      operationId: replayWebhookLog
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Replayed delivery log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryLog'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /webhooks/{webhook_id}/replay:
    parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Webhooks]
      summary: Bulk replay webhook deliveries
      operationId: bulkReplayWebhook
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookBulkReplayRequest'
      responses:
        '200':
          description: Bulk replay result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookBulkReplayResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /webhooks/{webhook_id}/rotate-secret:
    parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Webhooks]
      summary: Rotate webhook signing secret
      operationId: rotateWebhookSecret
      security:
        - bearerAuth: []
      responses:
        '200':
          description: New secret generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRotateSecretResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /suppressions:
    get:
      tags: [Suppressions]
      summary: List suppressions
      description: List all suppressed email addresses for this account. Includes bounce-based, complaint, unsubscribe, and manual suppressions.
      operationId: listSuppressions
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
        - name: starting_after
          in: query
          schema:
            type: string
          description: Cursor for forward pagination.
        - name: ending_before
          in: query
          schema:
            type: string
          description: Cursor for backward pagination.
        - name: reason
          in: query
          schema:
            type: string
            enum: [hard_bounce, soft_bounce, complaint, manual, unsubscribe]
        - name: email
          in: query
          schema:
            type: string
          description: Filter by email (partial match).
        - name: created_after
          in: query
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of suppressions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    post:
      tags: [Suppressions]
      summary: Add manual suppression
      description: Manually suppress an email address. Reason is always "manual". Useful for ESP migration, compliance, or known spam traps.
      operationId: createSuppression
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuppressionCreate'
      responses:
        '201':
          description: Suppression created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suppression'
        '200':
          description: Email already suppressed (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suppression'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /suppressions/bulk:
    post:
      tags: [Suppressions]
      summary: Bulk add manual suppressions
      description: Add up to 1000 email addresses to the manual suppression list. Useful for importing suppression lists from a previous ESP.
      operationId: bulkCreateSuppressions
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSuppressionCreate'
      responses:
        '200':
          description: Bulk operation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSuppressionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /suppressions/{email}:
    parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Suppressions]
      summary: Check suppression status
      description: Check if an email address is suppressed and why. Returns 404 if the email is not suppressed.
      operationId: getSuppression
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Suppression detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Email is not suppressed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
    delete:
      tags: [Suppressions]
      summary: Remove manual suppression
      description: Remove a manual suppression. Only suppressions with reason "manual" can be removed. System suppressions (bounces, complaints) cannot be removed via API.
      operationId: deleteSuppression
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Suppression removed
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '403':
          description: Cannot remove system suppression
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: No manual suppression found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'

  /templates:
    get:
      tags: [Templates]
      summary: List templates
      description: List the templates in this workspace, newest first.
      operationId: listTemplates
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 25, minimum: 1, maximum: 100 }
        - name: starting_after
          in: query
          schema: { type: string }
        - name: ending_before
          in: query
          schema: { type: string }
      responses:
        '200':
          description: A page of templates
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateListResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [Templates]
      summary: Create a template
      description: Create a template and, unless publish is false, publish its first version.
      operationId: createTemplate
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string, maxLength: 255 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TemplateCreate' }
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Template' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '500': { $ref: '#/components/responses/InternalError' }
  /templates/render:
    post:
      tags: [Templates]
      summary: Render a template
      description: Render a stored template or an inline body against sample data, without sending anything.
      operationId: renderTemplate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TemplateRenderRequest' }
      responses:
        '200':
          description: Rendered output
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateRenderResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '500': { $ref: '#/components/responses/InternalError' }
  /templates/{template_id}:
    parameters:
      - name: template_id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Templates]
      summary: Get a template
      description: Retrieve a template. Returns the draft content unless a version is given.
      operationId: getTemplate
      security:
        - bearerAuth: []
      parameters:
        - name: version
          in: query
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: The template
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateWithContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
    patch:
      tags: [Templates]
      summary: Update a template draft
      description: Update the draft. The draft is not used for sending until it is published.
      operationId: updateTemplate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TemplateUpdate' }
      responses:
        '200':
          description: The updated template
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateWithContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '500': { $ref: '#/components/responses/InternalError' }
    delete:
      tags: [Templates]
      summary: Archive a template
      description: Archive a template. Past messages that used it stay explicable, and it can no longer be sent with.
      operationId: deleteTemplate
      security:
        - bearerAuth: []
      responses:
        '204': { description: Archived }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
  /templates/{template_id}/versions:
    parameters:
      - name: template_id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Templates]
      summary: List template versions
      description: List the immutable versions of a template, newest first.
      operationId: listTemplateVersions
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 25, minimum: 1, maximum: 100 }
        - name: starting_after
          in: query
          description: Return versions after this cursor. Use next_cursor from the previous page.
          schema: { type: string }
      responses:
        '200':
          description: A page of versions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateVersionListResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [Templates]
      summary: Publish a template version
      description: Freeze the current draft as a new immutable version, and publish it unless publish is false.
      operationId: createTemplateVersion
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string, maxLength: 255 }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TemplateVersionCreate' }
      responses:
        '201':
          description: Version created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateVersion' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '500': { $ref: '#/components/responses/InternalError' }
  /templates/{template_id}/versions/{version}:
    parameters:
      - name: template_id
        in: path
        required: true
        schema: { type: string }
      - name: version
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Templates]
      summary: Get a template version
      description: Retrieve one immutable version, including its content.
      operationId: getTemplateVersion
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The version
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TemplateVersion' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
  /templates/{template_id}/publish:
    parameters:
      - name: template_id
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [Templates]
      summary: Publish an existing version
      description: Point the template at an existing version. This is how a rollback is done.
      operationId: publishTemplateVersion
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TemplatePublishRequest' }
      responses:
        '200':
          description: The template
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Template' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
[...]
